networks:
  forgejo:
    external: false

services:
  server:
    image: codeberg.org/forgejo/forgejo:13
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks:
      - forgejo
    volumes:
      - ./forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"

  registry:
    image: registry:2
    container_name: registry
    restart: always
    networks:
      - forgejo
    volumes:
      - ./registry:/var/lib/registry
    ports:
      - "5001:5000"

  runner:
    image: code.forgejo.org/forgejo/runner:3.4.0
    container_name: forgejo-runner
    restart: always
    networks:
      - forgejo
    volumes:
      - ./forgejo-runner:/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    depends_on:
      - server